<div class="container">
    <div class="row justify-content-center align-items-center">
        <p class="col-xl-1 col-lg-2">Sensor</p>
        <p class="col-xl-2 col-lg-3">Datum</p>
        <p class="col-xl-1 col-lg-1">Temperatur</p>
        <p class="col-xl-1 col-lg-1 word-break">Luftfeutigkeit</p>
        <p class="col-xl-2 col-lg-2 word-break">Standort</p>
        <p class="col-xl-1 col-lg-2">Position</p>
        <p class="col-xl-1 col-lg-1"></p>
    </div>
    <div *ngFor="let item of storeService.sensorenDaten" class="row justify-content-center align-items-center">
        <p class="col-xl-1 col-lg-2">{{item.sensor.name}}</p>
        <p class="col-xl-2 col-lg-3">{{item.date | date:'longDate'}}</p>
        <p class="col-xl-1 col-lg-1">{{item.temperature}} °C</p>
        <p class="col-xl-1 col-lg-1">{{item.humidity}} %</p>
        <p class="col-xl-2 col-lg-2">{{item.sensor.location}}</p>
        <p class="col-xl-1 col-lg-2">{{SensorPosition[item.sensor.position]}}</p>
        <div class="col-xl-1 col-lg-1">
            <mat-icon (click)="deleteSensordata(item.id)">delete</mat-icon>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <button [ngClass]="(i + 1) == currentPage ? 'active' : 'inactive'" type="button" class="btn btn-outline-warning pageButton" (click)="selectPage(i)" *ngFor="let page of [].constructor(pages); let i = index">{{i + 1}}</button>
        </div>
    </div>
</div>